*{
    margin: 0;
    padding: 0;
   
}
body{
    margin: 3%;
    font-family: sans-serif;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(221, 221, 215);
}
h2{
    margin-bottom: 2%;
}
h1{
    margin-bottom: 1%;
    background-color: red;
    color: white;
}
#enviar{
    width: 5%;
    margin-bottom: 40px;
    background-color: red;
    color: white;
}